    
<li>
    <p>{{this.id}}. {{this.name}}</p>
    <button type="button" class="change-devour btn btn-danger btn-sm" data-id="{{id}}" data-devour="{{devour}}">
        {{#unless devour}}DEVOUR ME!{{/unless}}
    </button>
</li>